



{% block body %}
    <h1>Panier</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ panier.id }}</td>
        </tr>
        <tr>
            <th>Produit</th>
            <td>{{ panier.CodePanier }}</td>
        </tr>
        <tr>
            <th>Quantite</th>
            <td>{{ panier.Quantite }}</td>
        </tr>
        <tr>
            <th>Prix_Tot</th>
            <td>{{ panier.PrixTot }}</td>
        </tr>
        </tbody>
    </table>




{% endblock %}
2021 © IT-Geek
