{% extends 'base2.html.twig' %}

{% block title %}New RepresentantPara{% endblock %}

{% block body %}
    <h1>Create new RepresentantPara</h1>

    {{ include('representant_para/_form.html.twig') }}

    <a href="{{ path('representant_para_index') }}">back to list</a>
{% endblock %}
