{% extends 'front/layouts/master.html.twig' %}
{% block body %}
<style>
#cn{
  height:600px;
}
</style>
<div  id="cn">
	
      <iframe src="{{asset('test.php')}}" width="100%" height="100%"></iframe>
    
    </div>
{% endblock %}