<form method="post" action="{{ path('representant_clinique_delete', {'id': representant_clinique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ representant_clinique.id) }}">
    <button class="btn">Delete</button>
</form>
