{% extends 'base2.html.twig' %}

{% block title %}Edit RepresentantClinique{% endblock %}

{% block body %}
    <h1>Edit RepresentantClinique</h1>

    {{ include('representant_clinique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('representant_clinique_index') }}">back to list</a>

    {{ include('representant_clinique/_delete_form.html.twig') }}
{% endblock %}
