
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Infirmary a Medical Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Infirmary Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/numscroller-1.0.js"></script>

    <!-- //js -->


    <!-- fonts -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>

    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->

    <!--start-date-piker-->
    <script src="js/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#datepicker,#datepicker1" ).datepicker();
        });
    </script>
    <!--/End-date-piker-->
    <script src="js/responsiveslides.min.js"></script>
    <!--animate-->
    <link href="css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->
</head>
<body>
<!-- header -->
<div class="header wow zoomIn">
    <div class="container">
        <div class="header_left" data-wow-duration="2s" data-wow-delay="0.5s">
            <ul>
                <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+123 456 7890</li>
                <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info@example.com</a></li>
            </ul>
        </div>
        <div class="header_right">
            <div class="login">
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Login</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Signup</a></li>
                    <li>
                        <div class="search-bar">
                            <div class="search">
                                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
                            </div>
                            <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
                            <div id="small-dialog" class="mfp-hide">
                                <div class="search-top">
                                    <div class="login_pop">
                                        <form action="#" method="post">
                                            <input type="submit" value="">
                                            <input type="text" name="Type something..." value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                                        </form>
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function() {
                                        $('.popup-with-zoom-anim').magnificPopup({
                                            type: 'inline',
                                            fixedContentPos: false,
                                            fixedBgPos: true,
                                            overflowY: 'auto',
                                            closeBtnInside: true,
                                            preloader: false,
                                            midClick: true,
                                            removalDelay: 300,
                                            mainClass: 'my-mfp-zoom-in'
                                        });

                                    });
                                </script>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //header -->
<div class="header-bottom ">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo grid">
                    <div class="grid__item color-3">
                        <h1><a class="link link--nukun" href="index.html"><i></i>INFI<span>R</span>MARY</a></h1>
                    </div>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                <nav class="menu menu--horatio">
                    <ul class="nav navbar-nav menu__list">
                        <li class="menu__item menu__item--current"><a href="index.html" class="menu__link">Home</a></li>
                        <li class="menu__item"><a href="{{ path('commentaire_index') }}" class="menu__link">Q/R</a></li>

                    </ul>
                </nav>
            </div>
        </nav>
    </div>
</div>

<!-- banner -->
<div class="banner">

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <div  id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
            <li>
                <div class="banner1">
                    <div class="container">
                        <div class="banner-info">
                            <h3>Providing<span> Appropriate Health Care </span> For Adult, Seniors and children</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                dolore magnam aliquam quaerat voluptatem.</p>
                            <a href="#book" class="hvr-outline-out button2 scroll">Book an appointment</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner2">
                    <div class="container">
                        <div class="banner-info2 text-center">
                            <h3>Providing Eye Care <span>Treatments & Surgeries For All Problems</span></h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                dolore magnam aliquam quaerat voluptatem.</p>
                            <a href="#book" class="hvr-outline-out button2 scroll">Book an appointment</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner1">
                    <div class="container">
                        <div class="banner-info">
                            <h3>Providing<span> Appropriate Health Care </span> For Adult, Seniors and children</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                dolore magnam aliquam quaerat voluptatem.</p>
                            <a href="#book" class="hvr-outline-out button2 scroll">Book an appointment</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner2">
                    <div class="container">
                        <div class="banner-info2 text-center">
                            <h3>Providing Eye Care <span>Treatments & Surgeries For All Problems</span></h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                dolore magnam aliquam quaerat voluptatem.</p>
                            <a href="#book" class="hvr-outline-out button2 scroll">Book an appointment</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->
<!-- content -->
<div class="content">
    <div class="container">
        <div class="col-md-4 content_right wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <img class="img-responsive" src="images/pic1.jpg" alt=" " />
        </div>
        <div class="col-md-4 content_left wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <div class="welcome">
                <h3>Welcome To Infirmary</h3>
                <ul>
                    <li><a href="#">Accusantium Doloremque Accus</a></li>
                    <li><a href="#">Molestiae Consequatur Molestiae</a></li>
                    <li><a href="#">Nostrum Exercitationem Nostrum</a></li>
                    <li><a href="#">Consequuntur Magnidolor Nostrum</a></li>
                    <li><a href="#">Molestiae Consequatur Molestiae</a></li>
                    <li><a href="#">Nostrum Exercitationem Nostrum</a></li>
                    <li><a href="#">Consequuntur Magnidolor Nostrum</a></li>
                </ul>
            </div>
        </div>
        <div id="book" class="col-md-4 content_middle wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
            <h3>Book An Appointment</h3>
            <form action="#" method="post">
                <input type="text" name="Name" value="Name" onfocus="this.value='';" onblur="if(this.value=='') {this.value='Name';}" required="">
                <input type="text" name="Email" value="Email" onfocus="this.value='';" onblur="if(this.value=='') {this.value='Email';}" required="">
                <input class="date" name="19/10/2016" id="datepicker" type="text" value="19/10/2016" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '19/10/2016';}" required="">
                <select id="country" onchange="change_country(this.value)" class="frm-field required sect">
                    <option value="null">Select Department</option>
                    <option value="null">Health Care</option>
                    <option value="null">Body Checkup</option>
                    <option value="null">Out Patient</option>
                    <option value="null">Surgery</option>
                </select>
                <input type="submit" value="Book Now">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //content -->
<!-- services -->
<div class="services">
    <div class="container">
        <div class="col-md-4 services_left wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
            <h3>Our Best Services</h3>
            <p class="ser-para" >Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
            <a href="about.html" class="hvr-outline-out button2">See More About Us</a>
            <script>
                // You can also use "$(window).load(function() {"
                $(function () {
                    // Slideshow 4
                    $("#slider4").responsiveSlides({
                        auto: true,
                        pager: true,
                        nav: false,
                        speed: 500,
                        namespace: "callbacks",
                        before: function () {
                            $('.events').append("<li>before event fired.</li>");
                        },
                        after: function () {
                            $('.events').append("<li>after event fired.</li>");
                        }
                    });
                });
            </script>
            <div  class="callbacks_container">
                <ul class="rslides" id="slider4">
                    <li>
                        <div class="ser-bottom">
                            <h5>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui </h5>
                            <p>- Alia Smith</p>
                        </div>
                    </li>
                    <li>
                        <div class="ser-bottom">
                            <h5>Voluptas sit aspernatur aut odit aut fugit,sed quia consequuntur magni dolores
                                eos qui ratione voluptatem sequi nesciunt</h5>
                            <p>- Thompson</p>
                        </div>
                    </li>
                    <li>
                        <div class="ser-bottom">
                            <h5>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                                sed quia consequuntur magni dolores eos qui </h5>
                            <p>- Federic</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 services_right ">
            <div class="list-left text-center wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                <h4>Voluptatem</h4>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui</p>
            </div>
            <div class="list-left text-center wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                <span class="glyphicon glyphicon-scissors" aria-hidden="true"></span>
                <h4>Voluptatem</h4>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui</p>
            </div>
            <div class="list-left text-center no_marg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.3s">
                <span class="glyphicon glyphicon-apple" aria-hidden="true"></span>
                <h4>Voluptatem</h4>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui</p>
            </div>
            <div class="list-left text-center no_marg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                <h4>Voluptatem</h4>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //services -->
<!-- team -->
<div class="ind-team">
    <div class="container">
        <h3>Meet Our Team</h3>
        <div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <div class="team-img">
                <img class="img-responsive" src="images/pic4.jpg" alt=" "/>
                <div class="team-info">
                    <ul>
                        <li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <h4>Dr. Federica</h4>
            <p>Dental Surgeon</p>
        </div>
        <div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <div class="team-img">
                <img class="img-responsive" src="images/pic5.jpg" alt=" "/>
                <div class="team-info">
                    <ul>
                        <li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <h4>Dr. Thompson</h4>
            <p>Cardiology</p>

        </div>
        <div class="col-md-4 ind-gds text-center wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
            <div class="team-img">
                <img class="img-responsive" src="images/pic6.jpg" alt=" "/>
                <div class="team-info">
                    <ul>
                        <li class="hvr-rectangle-out"><a class="eco1" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco2" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco3" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco4" href="#"></a></li>
                        <li class="hvr-rectangle-out"><a class="eco5" href="#"></a></li>
                    </ul>
                </div>
            </div>
            <h4>Dr. Victoria</h4>
            <p>Neurology</p>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!-- team -->
<!-- capabilities -->
<div class="capacity">
    <div class="container">
        <h3>Capabilities</h3>
        <div class="col-md-3 capabil_grid1 wow fadeInDownBig animated animated text-center" data-wow-delay="0.4s">
            <div class="capil_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='5700' data-delay='.5' data-increment="100">5700</div>
                <p>Happy Patients</p>
            </div>
        </div>
        <div class="col-md-3 capabil_grid2 wow fadeInUpBig animated animated text-center" data-wow-delay="0.4s">
            <div class="capil_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1700' data-delay='.5' data-increment="5">1700</div>
                <p>Our Staff</p>
            </div>
        </div>
        <div class="col-md-3 capabil_grid3 wow fadeInDownBig animated animated text-center" data-wow-delay="0.4s">
            <div class="capil_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='0021' data-delay='.5' data-increment="100">0021</div>
                <p>Foundation</p>
            </div>
        </div>
        <div class="col-md-3 capabil_grid4 wow fadeInUpBig animated animated text-center" data-wow-delay="0.4s">
            <div class="capil_text">
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2500' data-delay='.5' data-increment="1">2500</div>
                <p>Clients</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //capabilities -->
<!-- contact -->
<div class="contact">
    <div class="container">

        <div class="col-md-6 contact-right wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
            <h3>Contact Us</h3>
            <div class="strip"></div>
            <ul class="con-icons">
                <li><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+123 456 7890</li>
                <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info@example.com</a></li>
            </ul>
            <ul class="fb_icons">
                <li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
                <li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
                <li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
                <li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
                <li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
            </ul>
            <h3>Newsletter Sign up</h3>
            <div class="strip"></div>
            <form action="#" method="post">
                <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col-md-6 contact-left wow fadeIn animated animated" data-wow-delay="0.1s" data-wow-duration="2s">
            <h2>Information</h2>
            <div class="strip"></div>
            <p class="para">At vero eos et accusamus et iusto odio dignissimos
                ducimus qui blanditiis praesentium voluptatum deleniti at
                que corrupti quos dolores et quas molestias excepturi sint
                occaecati cupiditate non provident, similique sunt.</p>
            <p class="copy-right">© 2016 Infirmary. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //contact -->
<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">

                    <div class="login-right">
                        <h3>Sign in with your account</h3>
                        <form action="#" method="post">
                            <div class="sign-in">
                                <h4>Email :</h4>
                                <input type="text" name="Type here" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                            </div>
                            <div class="sign-in">
                                <h4>Password :</h4>
                                <input type="password" name="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                <a href="#">Forgot password?</a>
                            </div>
                            <div class="single-bottom">
                                <input type="checkbox"  id="brand" value="">
                                <label for="brand"><span></span>Remember Me.</label>
                            </div>
                            <div class="sign-in">
                                <input type="submit" value="SIGNIN" >
                            </div>
                        </form>
                    </div>

                    <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<!-- login -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body modal-spa">
                <div class="login-grids">
                    <div class="login-bottom">
                        <h3>Sign up for free</h3>
                        <form action="#" method="post">
                            <div class="sign-up">
                                <h4>Email :</h4>
                                <input type="text" name="Type here" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                            </div>
                            <div class="sign-up">
                                <h4>Password :</h4>
                                <input type="password" name="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                            </div>
                            <div class="sign-up">
                                <h4>Re-type Password :</h4>
                                <input type="password" name="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                            </div>
                            <div class="sign-up">
                                <input type="submit" value="REGISTER NOW" >
                            </div>

                        </form>
                    </div>
                    <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //login -->
<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
</body>
</html>

