{% extends 'base3.html.twig' %}

{% block title %}Ajouter Boutique{% endblock %}

{% block body %}
<br><br><br>




    <h1>Ajouter Boutique</h1>

    {{ include('store/_form.html.twig',{button: 'Ajouter'}) }}


{% endblock %}



